*{
    font-family: 'Varela Round', sans-serif; 
}

body{
    background-color: #D09AC1;

}

audio{
    display:flex;
    justify-content: center;
    position: relative;
    margin: 40px;
    margin-top: 20px;
}

.box{
    background-color: #9D648D;
    padding: 7px;
    border-radius: 15px;
    margin-top: 20px;
}
